@import '/index.scss';

%symbols {
  font-family: 'WindSong', cursive;
  font-weight: 500;
  font-size: 25px;
}

%animatedText {
  overflow: hidden;
  vertical-align: bottom;
}

.content {
  position: relative;
  margin-top: clamp(1.563rem, 2.5vw, 1.875rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.563rem, 2.5vw, 1.875rem);

  .select {
    width: 260px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: opacity $tr;

    img {
      width: 70px;
    }

    p {
      font-family: 'TFSpike';
      width: 150px;
      display: inline-block;
      @extend %animatedText;

      a {
        display: inline-block;
      }

      span {
        @extend %symbols;
      }
    }

    svg {
      fill: none;

      path {
        fill: $orange;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .dropdown {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    margin: auto;
    background-color: $black;
    padding-inline: 30px;
    padding-block: 20px;
    object-position: top;
    z-index: 1;

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90px;
    }

    .item {
      display: flex;
      flex-direction: column;
      @extend %animatedText;

      p {
        display: inline-block;
        font-family: 'TFSpike';
        line-height: 25px;
        cursor: pointer;
        width: 0;
        color: $beige;
        transition: padding-left $tr;

        span {
          @extend %symbols;
        }

        &:hover {
          padding-left: 8px;
        }
      }
    }
  }
}
