// font-family: 'Oswald', sans-serif;
// font-family: 'WindSong', cursive;
// font-family: 'Six Caps', sans-serif;
// font-family: 'Oleo Script', system-ui;

@font-face {
  font-family: 'TFSpike';
  src: url('/fonts/TFSpike.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
