@import '/index.scss';

%tab {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  position: relative;
  list-style: none;
  color: $beige;
  z-index: 1;
  letter-spacing: 0.3px;
}

%isActive {
  background-color: $orange;
  position: absolute;
  height: 40px;
  z-index: -1;
}

.content {
  padding-inline: clamp(2.813rem, -21.146rem + 38.33vw, 10rem);
  background-color: $black;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  position: relative;
  transform-origin: center top;

  .background {
    height: 100%;
    width: clamp(10rem, 0.625rem + 15vw, 11.875rem);
    position: absolute;
    top: 0;
    left: 48.5%;
    transform: translateX(-50%);
    transform-origin: center bottom;
  }

  .tabs {
    display: flex;
    justify-content: center;

    .options {
      position: relative;
      display: flex;
      gap: 25px;

      .tab {
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 7px;
        padding-inline: 10px;
        @extend %tab;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: none;
        }

        .isActive {
          @extend %isActive;
        }
      }

      .numberTab {
        font-size: 20px;
        padding-block: 7px;
        padding-inline: 14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %tab;

        .isActive {
          @extend %isActive;
        }
      }
    }
  }
}
