@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@125,200..900&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Six+Caps&family=WindSong:wght@400;500&display=swap');
@import '/index.scss';

body {
  background-color: $beige;
  color: $black;
  user-select: none;
  touch-action: pan-y;

  img {
    display: block;
    width: 100%;
  }

  .screenWidthWarning {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    height: 100vh;
    padding-inline: 15px;

    .background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 55px;
      z-index: -1;
    }

    .logo {
      width: 40px;
    }

    p {
      color: $black;
      text-wrap: balance;
      font-size: 15px;
      text-align: center;
      line-height: 17px;
      font-family: 'TFSpike';

      span {
        font-family: 'WindSong', cursive;
        font-weight: 500;
        font-size: 21px;
      }
    }
  }

  @media (max-width: 319.9px) {
    .screenWidthWarning {
      display: flex;
    }

    .screenContent {
      display: none;
    }
  }

  .banner {
    position: relative;
    min-height: 100vh;
    background-color: $black;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .brandLogo {
      width: clamp(2.813rem, 1.79rem + 5.11vw, 5.625rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

:root {
  color-scheme: dark;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
