@import '/index.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: $mInline;
  margin-top: 20px;

  @media (max-width: 600px) {
    margin-top: clamp(1.875rem, 1.518rem + 1.79vw, 2.188rem);
  }

  img {
    width: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
    cursor: pointer;
    transition: all $tr;

    @media (min-width: 1000px) {
      &:hover {
        rotate: 360deg;
      }
    }
  }
}
