@import '/index.scss';

.audio {
  display: none;
}

.svg {
  width: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  height: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  cursor: pointer;
  transition: transform $tr;
  z-index: 1;

  @media (min-width: 1000px) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.bars {
  position: fixed;
  bottom: clamp(0.938rem, 0.369rem + 2.84vw, 2.5rem);
  right: $mInline;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(0.237rem, 0.21rem + 0.14vw, 0.313rem);
  height: clamp(2.25rem, 1.841rem + 2.05vw, 3.375rem);
  z-index: 9999999;
  mix-blend-mode: difference;
}

.item {
  animation: play 1.2s ease-out infinite;
  background-color: $orange;
  height: 100%;
  width: clamp(0.294rem, 0.196rem + 0.49vw, 0.563rem);
}

.item:nth-child(1) {
  animation-delay: 0s;
}

.item:nth-child(2) {
  animation-delay: 0.8s;
}

.item:nth-child(3) {
  animation-delay: 0.4s;
}

.item:nth-child(4) {
  animation-delay: 1s;
}

@keyframes play {
  0% {
    height: 10%;
  }

  25% {
    height: 75%;
  }

  50% {
    height: 50%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 10%;
  }
}
